<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/loginstyle.css')}}" />
    <title>Login</title>
</head>

<body>
    <div class="formdiv"><center>
        <img src="{{ url_for('static',filename='media/ajst logo.png')}}" alt="logo">
        <h1>Gestion des camps scientifiques</h1></center>
        <form  method="post">
            <div class="input-group inp1">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  type="text" class="form-control" name="username" placeholder="username">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <center><button type="submit" class="btn btn-success connectionBtn">Se connecter</button></center>
        </form>

    </div>

</body>

</html>